@import 'bootstrap/functions';
@import 'bootstrap/_variables';
@import 'bootstrap/mixins/breakpoints';

.gradient-right {
  background: linear-gradient(to right, $yellow, $orange);
}

@include media-breakpoint-up(sm) {
  .col-sm-disable {
    flex: none !important;
    max-width: none !important;
    width: auto !important;
    padding: 0 !important;
  }
}

.height-10 {
  height: 10px !important;
}

.height-30 {
  height: 30px !important;
}

.height-60 {
  height: 60px !important;
}

.height-90 {
  height: 90px !important;
}