@import 'bootstrap/functions';
@import 'bootstrap/_variables';
@import 'bootstrap/mixins/breakpoints';

.skills {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  .bubble {
    position: absolute;
  }

  @include media-breakpoint-up(lg) {
    display: block;
    
    .bubble-first-left {
      top: 195px;
      right: 490px;
    }

    .bubble-php {
      top: 190px;
      right: 330px;
    }

    .bubble-yii {
      top: 200px;
      right: 200px;
    }

    .bubble-sql {
      top: 190px;
      right: 60px;
    }

    .bubble-first-right {
      display: none;
    }

    .bubble-second-left {
      top: 275px;
      right: 410px;
    }

    .bubble-ts {
      top: 280px;
      right: 160px;
    }

    .bubble-csharp {
      top: 300px;
      right: 40px;
    }

    .bubble-first-right {
      display: none;
    }

    .bubble-third-left{
      display: none;
    }

    .bubble-vue {
      top: 350px;
      right: 280px;
    }

    .bubble-react {
      top: 380px;
      right: 130px;
    }

    .bubble-third-right {
      top: 400px;
      right: 5px;
    }
  }
  @include media-breakpoint-up(xl) {
    width: 960px;
    margin-left: calc(100% - 960px - 5%);
    margin-right: 5%;

    .bubble-first-left {
      width: 160px;
      top: 255px;
      right: 60%;
    }

    .bubble-php {
      top: 250px;
      right: 42%;
    }

    .bubble-yii {
      top: 260px;
      right: 30%;
    }

    .bubble-sql {
      top: 250px;
      right: 16%;
    }

    .bubble-first-right {
      display: inline-block;
      top: 260px;
      right: 1.8%;
    }

    .bubble-second-left {
      top: 335px;
      right: 51%;
    }

    .bubble-ts {
      top: 340px;
      right: 25.5%;
    }

    .bubble-csharp {
      top: 360px;
      right: 13.5%;
    }

    .bubble-second-right {
      display: inline-block;
      width: 100px;
      top: 340px;
      right: 0;
    }

    .bubble-third-left{
      display: inline-block;
      top: 415px;
      right: 43.5%;
    }

    .bubble-vue {
      top: 420px;
      right: 30%;
    }

    .bubble-react {
      top: 440px;
      right: 13%;
    }

    .bubble-third-right {
      top: 430px;
      right: 0;
    }
  }
  @include media-breakpoint-up(xxl) {
    width: 960px;
    margin-left: calc(100% - 960px - 10%);
    margin-right: 10%;

    .bubble-first-left {
      width: 200px;
      top: 255px;
      right: 70%;
    }

    .bubble-php {
      top: 250px;
      right: 50%;
    }

    .bubble-yii {
      top: 260px;
      right: 35%;
    }

    .bubble-sql {
      top: 250px;
      right: 20%;
    }

    .bubble-first-right {
      width: 150px;
      top: 260px;
      right: 0;
    }

    .bubble-second-left {
      width: 180px;
      top: 335px;
      right: 60%;
    }

    .bubble-ts {
      top: 340px;
      right: 30%;
    }

    .bubble-csharp {
      top: 360px;
      right: 15%;
    }

    .bubble-second-right {
      width: 160px;
      top: 340px;
      right: -45px;
    }

    .bubble-third-left{
      width: 170px;
      top: 415px;
      right: 50%;
    }

    .bubble-vue {
      top: 420px;
      right: 35%;
    }

    .bubble-react {
      top: 440px;
      right: 16%;
    }

    .bubble-third-right {
      width: 180px;
      top: 430px;
      right: -50px;
    }
  }

}