@import 'bootstrap/functions';
@import 'bootstrap/_variables';
@import 'bootstrap/mixins/breakpoints';

html{
  scroll-behavior: smooth;
}

body, #page-content{
  width: 100%;
  height: 100%;
}

@include media-breakpoint-up(md) {
  #page-content {
    margin-top: 77px;
  }
}

h1, .h1{
  line-height: 1em!important;
}

.text-content{
  position: relative;
}

.text-gradient {
  background: linear-gradient(to right, $yellow, $orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
}


.bg-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/images/bg-lines.svg');
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: cover;
}



@import 'navbar';
@import 'icons';
@import 'timeline';
@import 'sections';
@import 'helpers';
