@import 'bootstrap/functions';
@import 'bootstrap/_variables';
@import 'bootstrap/mixins/breakpoints';

$line-size: 2px;
$line-shift: 9px;
$line-dark-border-size: 3px;

$line-top-line-height: 50px;
$line-top-line-height-sm-up: $line-top-line-height + 50px;
$line-top-line-height-md-up: $line-top-line-height + 40px + $menu-height;
$line-top-line-height-lg-up: $line-top-line-height + 35px + $menu-height;
$line-top-line-height-xl-up: $line-top-line-height + 25px + $menu-height;
$line-top-line-height-xxl-up: $line-top-line-height + 20px + $menu-height;
$line-anchor-top: 95px;
$line-anchor-top-sm-up: $line-anchor-top + 50px;
$line-anchor-top-md-up: $line-anchor-top + 40px + $menu-height;
$line-anchor-top-lg-up: $line-anchor-top + 35px + $menu-height;
$line-anchor-top-xl-up: $line-anchor-top + 25px + $menu-height;
$line-anchor-top-xxl-up: $line-anchor-top + 20px + $menu-height;

.timeline {

  .dot {
    width: calc(#{$h4-font-size} + 4px);
    height: calc(#{$h4-font-size} + 4px);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background-color: $white;

    &:before {
      content: '';
      position: absolute;
      background: linear-gradient(to bottom, $yellow, $orange);
      border: $line-dark-border-size solid $gray-900;
      border-radius: 50%;
      top: $line-size;
      left: $line-size;
      right: $line-size;
      bottom: $line-size;
      width: $h4-font-size;
      height: $h4-font-size;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -9px;
      left: calc(#{$h4-font-size/2} + 1px);
      background-color: $white;
      width: $line-size;
      height: $line-shift;
    }
  }

  .line {
    background-color: $white;
    width: $line-size;
    margin: auto;
    height: 100%;
  }


  .line-up, .line-down, .line-top {
    position: relative;
  }

  .line-up:before, .line-down:after {
    content: '';
    position: absolute;
    left: -$line-shift;
    width: 20px;
    height: $line-size;
    background: $white;
  }

  .line-up:before {
    top: -$line-size;
  }

  .line-down:after {
    bottom: -$line-size;
  }

  .line-top:before {
    content: '';
    position: absolute;
    width: $line-size;
    margin: auto;
    background-color: $white;
    top: -$line-top-line-height - $line-dark-border-size;
    height: $line-top-line-height + $line-dark-border-size;

    @include media-breakpoint-up(sm) {
      top: -$line-top-line-height-sm-up - $line-dark-border-size;
      height: $line-top-line-height-sm-up + $line-dark-border-size;
    }
    @include media-breakpoint-up(md) {
      top: -$line-top-line-height-md-up - $line-dark-border-size;
      height: $line-top-line-height-md-up + $line-dark-border-size;
    }
    @include media-breakpoint-up(lg) {
      top: -$line-top-line-height-lg-up - $line-dark-border-size;
      height: $line-top-line-height-lg-up + $line-dark-border-size;
    }
    @include media-breakpoint-up(xl) {
      top: -$line-top-line-height-xl-up - $line-dark-border-size;
      height: $line-top-line-height-xl-up + $line-dark-border-size;
    }
    @include media-breakpoint-up(xxl) {
      top: -$line-top-line-height-xxl-up - $line-dark-border-size;
      height: $line-top-line-height-xxl-up + $line-dark-border-size;
    }
  }

  .line-anchor {
    position: absolute;
    left: -11px;
    background: linear-gradient(to bottom, $yellow, $orange);
    width: $h4-font-size;
    height: 2.5rem;
    border-radius: $h4-font-size;
    border: $line-dark-border-size solid $gray-900;
    top: -$line-anchor-top;

    @include media-breakpoint-up(sm) {
      top: -$line-anchor-top-sm-up;
    }
    @include media-breakpoint-up(md) {
      top: -$line-anchor-top-md-up;
    }
    @include media-breakpoint-up(lg) {
      top: -$line-anchor-top-lg-up;
    }
    @include media-breakpoint-up(xl) {
      top: -$line-anchor-top-xl-up;
    }
    @include media-breakpoint-up(xxl) {
      top: -$line-anchor-top-xxl-up;
    }

    // circle border-bottom
    &:after{
      content: '';
      position: absolute;
      bottom: -6px;
      left: -$line-size - $line-dark-border-size;
      width: calc(#{$h4-font-size} + 4px);
      height: 1rem;
      border: $line-size solid $white;
      border-bottom-left-radius: $h4-font-size;
      border-bottom-right-radius: $h4-font-size;
      border-top: 0;
    }

    // inner square
    &:before{
      content: '';
      position: absolute;
      top: .3rem;
      left: calc(1rem / 3);
      border-radius: 2px;
      width: .5rem;
      height: .5rem;
      background-color: $gray-900;
    }
  }

}