{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript",
    "next",
    "next/core-web-vitals",
    "prettier"
  ],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"]
    }
  ],
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [".storybook/**", "stories/**"]
      }
    ]
  }
}
