<IfModule mod_expires.c>
ExpiresActive On ExpiresDefault A600
ExpiresByType text/javascript A86400
ExpiresByType application/javascript A86400
ExpiresByType text/css A86400
ExpiresByType image/gif A86400
ExpiresByType image/png A86400
ExpiresByType image/jpeg A86400
ExpiresByType image/x-icon A86400
ExpiresByType text/html A1
</IfModule>

# Compress
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip